.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    display: flex;
    z-index: 0;
    position: sticky;
    background-color:rgb(162, 224, 162) ;
    
    color: white;
}

.footer.span {
    text-align: center;
    color: white;
}